<% Object.keys(posts).forEach(function(key) { %>
<div class="d-flex flex-nowrap pt-4">
	<!-- Author Details -->
	<div class="col-2 col-lg-3 d-inline-flex justify-content-end align-items-start me-4">
		<div class="d-flex flex-nowrap dropdown-center border rounded-5 bg-white px-2 py-1">
			<p class="d-xl-block d-none mx-2 my-2"><%= posts[key].author %></p>
			<a class="d-block link-body-emphasis text-decoration-none" role="button" data-bs-toggle="dropdown">
				<img
					src="<%= posts[key].profilePictureUrl %>"
					width="40"
					height="40"
					alt="profile-picture"
					class="rounded-circle"
				/>
			</a>

			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="/profile/<%= encodeURIComponent(posts[key].author) %>">Profile</a>
				</li>
				<% if (posts[key].uid !== userId) { %>
				<li>
					<a
						class="dropdown-item follow-btn"
						data-username="<%= posts[key].author %>"
						data-following="<%= posts[key].isFollowedByCurrentUser %>"
					>
						<% if (posts[key].isFollowedByCurrentUser) { %>
						<img class="icon-sm" alt="checkmark icon" src="/svg/check2.svg" />
						Following <% } else { %>
						<span class="text-primary">+</span>
						Follow <% } %>
					</a>
				</li>
				<% } %>
			</ul>
		</div>
	</div>

	<!-- Post Details -->
	<div class="col-8">
		<div class="card border-secondary">
			<div class="card-header d-flex justify-content-between">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link post-tab active">Post</a>
					</li>
					<li class="nav-item">
						<a class="nav-link comments-tab">
							Comments
							<span>(<%= posts[key].commentCount || 0 %>)</span>
						</a>
					</li>
				</ul>
				<p class="d-flex d-xl-none text-muted mb-0 pt-2" style="font-size: 0.8rem"><%= posts[key].author %></p>
			</div>

			<div class="card-body">
				<div class="m-0 p-0 post-section">
					<h5 class="card-title pb-1"><%= posts[key].title %></h5>
					<p class="card-text post-content mb-1 overflow-hidden"><%= posts[key].content %></p>

					<button type="button" class="btn text-muted p-0 px-1 read-more-btn" style="font-size: 0.8rem">
						Show more
					</button>
				</div>
				<div class="m-0 p-0 comments-section d-none">
					<div class="container-fluid px-0">
						<div
							class="d-flex fake-input-bar align-items-center border rounded-5 bg-light ps-2 pe-4 py-2 gap-2"
							data-bs-toggle="modal"
							data-bs-target="#commentModal"
							data-post-id="<%= key %>"
							role="button"
						>
							<a class="d-flex">
								<img
									src="<%= userPictureUrl %>"
									width="40"
									height="40"
									alt="profile-picture"
									class="rounded-circle"
								/>
							</a>

							<div class="flex-grow-1 bg-light px-2 py-2">
								<span class="text-muted">Add a comment</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-footer d-flex justify-content-between">
				<div class="d-flex">
					<button class="like-button p-0" data-post-id="<%= key %>">
						<% if (posts[key].isLikedByCurrentUser) { %>
						<i class="heart-icon filled"></i>
						<% } else { %>
						<i class="heart-icon"></i>
						<% } %>
					</button>
					<p class="like-count text-muted my-0 ms-2 py-0" style="font-size: 0.8rem">
						<%= posts[key].likeCount %>
					</p>
				</div>
				<p class="timestamp text-muted my-0 py-0" style="font-size: 0.8rem"><%= posts[key].createdAtMs %></p>
			</div>
		</div>
	</div>
</div>
<% }); %>
